<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="log4net.Internal.Debug" value="true"/>
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="lib" />
		</assemblyBinding>
	</runtime>
	<connectionStrings>
		<add name="master" connectionString="Server=10.0.0.99; Port=3306; Database=mir; Uid=root; Pwd=dlsysmgr; Allow User Variables=True"/>
		<add name="slave" connectionString="Server=localhost; Port=3307; Database=mir; Uid=mir; Pwd=mir4you; Allow User Variables=True"/>
	</connectionStrings>
</configuration>