<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="pollInterval" value="60"/>
		<add key="debugLevel" value="1"/>
		<add key="numberOfRobots" value="1"/>
		<add key="logFile" value="C:\Blah blah?"/>
		<add key="emailAlert" value="mikolaj.paliszewski@iconsys.co.uk"/>
		<add key="baseURL" value="http://192.168.16.80/api/v2.0.0/"/>
		<add key="ip"/>
	</appSettings>
	<connectionStrings>
		<add name="master" connectionString="Server=localhost; Port=3306; Database=mir; Uid=mir; Pwd=mir4you"/>
		<add name="slave" connectionString="Server=localhost; Port=3307; Database=mir; Uid=mir; Pwd=mir4you"/>
	</connectionStrings>
</configuration>