<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="pollInterval" value="5"/>
		<add key="storeInterval" value="5"/>
		<add key="debugLevel" value="1"/>
		<add key="numberOfRobots" value="6"/>
		<add key="logFile" value="C:\Blah blah?"/>
		<add key="emailAlert" value="mikolaj.paliszewski@iconsys.co.uk"/>
		<add key="baseURL" value="http://192.168.16.80/api/v2.0.0/"/>
	</appSettings>
	<connectionStrings>
		<add name="MySQL" connectionString="Server=myServerAddressMaster, myServerAddressSlave; Port=3306, Database=myDatabaseName; Uid=myUsername; Pwd=myPassword"/>
	</connectionStrings>
</configuration>